
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BilancniObracun_KolicinskiObracun_TODROP]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[BilancniObracun_KolicinskiObracun_TODROP]
GO
