/****** Object:  StoredProcedure [dbo].[usp_SelectUporabnik]    Script Date: 03/11/2012 21:58:17 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_SelectUporabnik]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[usp_SelectUporabnik]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_SelectUporabnik]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
--region [dbo].[usp_SelectUporabnik]

------------------------------------------------------------------------------------------------------------------------
-- Generated By:   lipanje using CodeSmith 4.0.0.0
-- Template:       StoredProcedures.cst
-- Procedure Name: [dbo].[usp_SelectUporabnik]
-- Date Generated: 16. januar 2008
------------------------------------------------------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[usp_SelectUporabnik]
	@ID int
AS

SET NOCOUNT ON
SET TRANSACTION ISOLATION LEVEL READ COMMITTED

SELECT     Uporabnik.ID, 
Uporabnik.UporabnikID, 
Uporabnik.VlogaID, 
Uporabnik.UporabniskoIme, 
Uporabnik.Geslo, 
Uporabnik.Ime, 
Uporabnik.Priimek,     
Uporabnik.Email, 
Uporabnik.Cserial,
Uporabnik.Cissuer,
Uporabnik.Cthumbprint, 
Uporabnik.VeljaOd, 
Uporabnik.VeljaDo, 
Uporabnik.OsebaID, 
Uporabnik.Avtor, 
Uporabnik.DatumVnosa,         
Uporabnik.Aktivno, 
Vloga.Naziv AS UporabniskaSkupina,
o.Naziv AS Podjetje
FROM         Uporabnik INNER JOIN
                      Vloga ON Uporabnik.VlogaID = Vloga.VlogaID
INNER JOIN Oseba o ON Uporabnik.OsebaID=o.OsebaID
WHERE     (Uporabnik.ID = @ID)
AND o.ID = (SELECT max(ID) from Oseba WHERE Uporabnik.OsebaID=Oseba.OsebaID)

--endregion

' 
END
GO
