/****** Object:  StoredProcedure [dbo].[usp_IntersectPogodbaNovo]    Script Date: 03/11/2012 21:58:16 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_IntersectPogodbaNovo]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[usp_IntersectPogodbaNovo]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_IntersectPogodbaNovo]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
--region [dbo].[usp_UpdateUporabnik]

------------------------------------------------------------------------------------------------------------------------
-- Generated By:   lipanje using CodeSmith 4.0.0.0
-- Template:       StoredProcedures.cst
-- Procedure Name: [dbo].[usp_UpdateUporabnik]
-- Date Generated: 16. januar 2008
------------------------------------------------------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[usp_IntersectPogodbaNovo]
	@PogodbaID int,
	@VeljaOd datetime,
	@VeljaDo datetime
AS

SET NOCOUNT ON

IF EXISTS

(SELECT * 
FROM Pogodba 
WHERE dbo.intersects(@VeljaOd , @VeljaDo, VeljaOd, VeljaDo) = 1 AND 
	PogodbaID = @PogodbaID AND DatumSpremembe IS NULL)

	RETURN 1
ELSE 
	RETURN 0


--endregion

' 
END
GO
