/****** Object:  StoredProcedure [dbo].[usp_UpdateNajvecjeIzgube]    Script Date: 03/11/2012 21:58:18 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_UpdateNajvecjeIzgube]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[usp_UpdateNajvecjeIzgube]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_UpdateNajvecjeIzgube]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
--region [dbo].[usp_UpdateNajvecjeIzgube]

------------------------------------------------------------------------------------------------------------------------
-- Generated By:   lipanje using CodeSmith 4.0.0.0
-- Template:       StoredProcedures.cst
-- Procedure Name: [dbo].[usp_UpdateNajvecjeIzgube]
-- Date Generated: 16. januar 2008
------------------------------------------------------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[usp_UpdateNajvecjeIzgube]
	@ID int,
	@SistemskiOperater int,
	@VeljaOd datetime,
	@VeljaDo datetime,
	@Faktor decimal(18, 4),
	@Avtor int,
	@DatumVnosa datetime
AS

SET NOCOUNT ON

UPDATE [dbo].[NajvecjeIzgube] SET
	[SistemskiOperater] = @SistemskiOperater,
	[VeljaOd] = @VeljaOd,
	[VeljaDo] = @VeljaDo,
	[Faktor] = @Faktor,
	[Avtor] = @Avtor,
	[DatumVnosa] = @DatumVnosa
WHERE
	[ID] = @ID

--endregion

' 
END
GO
