/****** Object:  StoredProcedure [dbo].[usp_InsertLastnikPPM]    Script Date: 03/11/2012 21:58:16 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_InsertLastnikPPM]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[usp_InsertLastnikPPM]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_InsertLastnikPPM]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
--region [dbo].[usp_InsertLastnikPPM]

------------------------------------------------------------------------------------------------------------------------
-- Generated By:   lipanje using CodeSmith 4.0.0.0
-- Template:       StoredProcedures.cst
-- Procedure Name: [dbo].[usp_InsertLastnikPPM]
-- Date Generated: 16. januar 2008
------------------------------------------------------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[usp_InsertLastnikPPM]
	@LastnikID int,
	@OsebaTipID int,
	@Naziv varchar(50),
	@Ime varchar(50),
	@Priimek varchar(50),
	@Naslov varchar(50),
	@Stevilka varchar(50),
	@PostaID int,
	@Avtor datetime,
	@VeljaOd datetime,
	@VeljaDo datetime,
	@DatumVnosa datetime,
	@Aktivno int,
	@ID int OUTPUT
AS

SET NOCOUNT ON

INSERT INTO [dbo].[LastnikPPM] (
	[LastnikID],
	[OsebaTipID],
	[Naziv],
	[Ime],
	[Priimek],
	[Naslov],
	[Stevilka],
	[PostaID],
	[Avtor],
	[VeljaOd],
	[VeljaDo],
	[DatumVnosa],
	[Aktivno]
) VALUES (
	@LastnikID,
	@OsebaTipID,
	@Naziv,
	@Ime,
	@Priimek,
	@Naslov,
	@Stevilka,
	@PostaID,
	@Avtor,
	@VeljaOd,
	@VeljaDo,
	@DatumVnosa,
	@Aktivno
)

SET @ID = SCOPE_IDENTITY()

--endregion

' 
END
GO
