/****** Object:  StoredProcedure [dbo].[usp_UpdateIzjeme]    Script Date: 03/11/2012 21:58:18 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_UpdateIzjeme]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[usp_UpdateIzjeme]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_UpdateIzjeme]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
--region [dbo].[usp_UpdateIzjeme]

------------------------------------------------------------------------------------------------------------------------
-- Generated By:   lipanje using CodeSmith 4.0.0.0
-- Template:       StoredProcedures.cst
-- Procedure Name: [dbo].[usp_UpdateIzjeme]
-- Date Generated: 16. januar 2008
------------------------------------------------------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[usp_UpdateIzjeme]
	@ID int,
	@Interval datetime,
	@Cplus decimal(18, 0),
	@Cminus decimal(18, 0),
	@UdelezenecTrga int,
	@SistemskiOperater int,
	@Avtor int,
	@DatumVnosa datetime
AS

SET NOCOUNT ON

UPDATE [dbo].[Izjeme] SET
	[Interval] = @Interval,
	[Cplus] = @Cplus,
	[Cminus] = @Cminus,
	[UdelezenecTrga] = @UdelezenecTrga,
	[SistemskiOperater] = @SistemskiOperater,
	[Avtor] = @Avtor,
	[DatumVnosa] = @DatumVnosa
WHERE
	[ID] = @ID

--endregion

' 
END
GO
