/****** Object:  StoredProcedure [dbo].[usp_UpdateRealizacijaPoSo]    Script Date: 03/11/2012 21:58:18 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_UpdateRealizacijaPoSo]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[usp_UpdateRealizacijaPoSo]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_UpdateRealizacijaPoSo]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
--region [dbo].[usp_UpdateRealizacijaPoSo]

------------------------------------------------------------------------------------------------------------------------
-- Generated By:   lipanje using CodeSmith 4.0.0.0
-- Template:       StoredProcedures.cst
-- Procedure Name: [dbo].[usp_UpdateRealizacijaPoSo]
-- Date Generated: 16. januar 2008
------------------------------------------------------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[usp_UpdateRealizacijaPoSo]
	@ID int,
	@ObracunID int,
	@BilancnaSkupina int,
	@SistemskiOperater int,
	@Realizacija decimal(18, 0)
AS

SET NOCOUNT ON

UPDATE [dbo].[RealizacijaPoSo] SET
	[ObracunID] = @ObracunID,
	[BilancnaSkupina] = @BilancnaSkupina,
	[SistemskiOperater] = @SistemskiOperater,
	[Realizacija] = @Realizacija
WHERE
	[ID] = @ID

--endregion

' 
END
GO
