/****** Object:  StoredProcedure [dbo].[usp_SelectOsebasAll]    Script Date: 03/11/2012 21:58:17 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_SelectOsebasAll]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[usp_SelectOsebasAll]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_SelectOsebasAll]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
--region [dbo].[usp_SelectOsebasAll]

------------------------------------------------------------------------------------------------------------------------
-- Generated By:   lipanje using CodeSmith 4.0.0.0
-- Template:       StoredProcedures.cst
-- Procedure Name: [dbo].[usp_SelectOsebasAll]
-- Date Generated: 16. januar 2008
------------------------------------------------------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[usp_SelectOsebasAll]
	@stanje DATETIME
AS

SET NOCOUNT ON
SET TRANSACTION ISOLATION LEVEL READ COMMITTED

SELECT 
o.ID,
o.OsebaID,
o.Naziv,
o.Naslov,
o.HisnaStevilka,
o.VeljaOd,
o.VeljaDo
from Oseba o 
where o.id = (select max(id) from oseba o1 where o1.osebaid = o.osebaid and
o1.DatumVnosa <= @stanje and dbo.infinite(o1.DatumSpremembe) >= @stanje )
--AND o1.OsebaTipID < 100 ) 
Order by OsebaID ASC
--endregion

' 
END
GO
