/****** Object:  StoredProcedure [dbo].[usp_SelectNastavitve]    Script Date: 03/11/2012 21:58:17 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_SelectNastavitve]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[usp_SelectNastavitve]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_SelectNastavitve]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'


--region [dbo].[usp_SelectNajvecjeIzgubesAll]

------------------------------------------------------------------------------------------------------------------------
-- Generated By:   kraljic
-- Procedure Name: [dbo].[usp_SelectNastavitve]
-- Date Created: 9.6.2008
------------------------------------------------------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[usp_SelectNastavitve]
AS

SET NOCOUNT ON
SET TRANSACTION ISOLATION LEVEL READ COMMITTED

SELECT 
	i.[ID],
	i.[oznaka],
	i.[opis],
	i.[vrednost]
FROM [Nastavitev] i 
WHERE i.DatumSpremembe IS NULL order by i.[oznaka] asc

--endregion



' 
END
GO
