/****** Object:  StoredProcedure [dbo].[usp_UpdateLog]    Script Date: 03/11/2012 21:58:18 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_UpdateLog]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[usp_UpdateLog]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_UpdateLog]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
--region [dbo].[usp_UpdateLog]

------------------------------------------------------------------------------------------------------------------------
-- Generated By:   lipanje using CodeSmith 4.0.0.0
-- Template:       StoredProcedures.cst
-- Procedure Name: [dbo].[usp_UpdateLog]
-- Date Generated: 16. januar 2008
------------------------------------------------------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[usp_UpdateLog]
	@ID int,
	@Modul varchar(50),
	@Akcija varchar(50),
	@UporabnikID int,
	@DatumVnosa datetime
AS

SET NOCOUNT ON

UPDATE [dbo].[Log] SET
	[Modul] = @Modul,
	[Akcija] = @Akcija,
	[UporabnikID] = @UporabnikID,
	[DatumVnosa] = @DatumVnosa
WHERE
	[ID] = @ID

--endregion

' 
END
GO
