/****** Object:  StoredProcedure [dbo].[usp_InsertOseba]    Script Date: 03/11/2012 21:58:16 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_InsertOseba]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[usp_InsertOseba]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_InsertOseba]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
--region [dbo].[usp_InsertOseba]

------------------------------------------------------------------------------------------------------------------------
-- Generated By:   lipanje using CodeSmith 4.0.0.0
-- Template:       StoredProcedures.cst
-- Procedure Name: [dbo].[usp_InsertOseba]
-- Date Generated: 16. januar 2008
------------------------------------------------------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[usp_InsertOseba]
	
	@OsebaID int,	
	@Naziv varchar(250),
	@Kratica varchar(10),
	@Ime varchar(50),
	@Priimek varchar(50),
	@Naslov varchar(50),
	@HisnaStevilka varchar(50),
	@Kraj varchar(50),
	@Posta varchar(50),
	@Drzava int,
	@VeljaOd datetime,	
	@VeljaDo datetime,
	@Email varchar(100),
	@EIC varchar(50),
	@OdgovornaOseba1 varchar(100),
	@OdgovornaOseba2 varchar(100),
	@Telefon varchar(50),
	@Fax varchar(50),
	@SpletnaStran varchar(250),
	@Avtor int,
	@VrstniRedExcelUvoz int,
	@ID int OUTPUT
AS

SET NOCOUNT ON

INSERT INTO [dbo].[Oseba] (
		[OsebaID],
		[Naziv],
		[Kratica],
		[Ime],
		[Priimek],
		[Naslov],
		[HisnaStevilka],
		[Kraj],
		[Posta],
		[Drzava],
		[VeljaOd],
		[VeljaDo],
		[Email],
		[EIC],
		[OdgovornaOseba1],
		[OdgovornaOseba2],
		[Telefon],
		[Fax],
		[SpletnaStran],
		[Avtor],
		VrstniRedExcelUvoz
) VALUES (
		@OsebaID,
		@Naziv,
		@Kratica,
		@Ime,
		@Priimek,
		@Naslov,
		@HisnaStevilka,
		@Kraj,
		@Posta,
		@Drzava,
		@VeljaOd,
		@VeljaDo,
		@Email,
		@EIC,
		@OdgovornaOseba1,
		@OdgovornaOseba2,
		@Telefon,
		@Fax,
		@SpletnaStran,
		@Avtor,
		@VrstniRedExcelUvoz
)

SET @ID = SCOPE_IDENTITY()

--endregion

' 
END
GO
