/****** Object:  StoredProcedure [dbo].[usp_InsertCSLOEX]    Script Date: 03/11/2012 21:58:16 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_InsertCSLOEX]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[usp_InsertCSLOEX]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_InsertCSLOEX]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
--region [dbo].[usp_InsertCSLOEX]

------------------------------------------------------------------------------------------------------------------------
-- Generated By:   lipanje using CodeSmith 4.0.0.0
-- Template:       StoredProcedures.cst
-- Procedure Name: [dbo].[usp_InsertCSLOEX]
-- Date Generated: 16. januar 2008
------------------------------------------------------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[usp_InsertCSLOEX]
	@Interval datetime,
	@Vrednost decimal(18, 0),
	@DatumVnosa datetime,
	@ID int OUTPUT
AS

SET NOCOUNT ON

INSERT INTO [dbo].[CSLOEX] (
	[Interval],
	[Vrednost],
	[DatumVnosa]
) VALUES (
	@Interval,
	@Vrednost,
	@DatumVnosa
)

SET @ID = SCOPE_IDENTITY()

--endregion

' 
END
GO
