/****** Object:  StoredProcedure [dbo].[usp_UpdatePosta]    Script Date: 03/11/2012 21:58:18 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_UpdatePosta]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[usp_UpdatePosta]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_UpdatePosta]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
--region [dbo].[usp_UpdatePosta]

------------------------------------------------------------------------------------------------------------------------
-- Generated By:   lipanje using CodeSmith 4.0.0.0
-- Template:       StoredProcedures.cst
-- Procedure Name: [dbo].[usp_UpdatePosta]
-- Date Generated: 16. januar 2008
------------------------------------------------------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[usp_UpdatePosta]
	@PostaID int,
	@Stevilka varchar(50),
	@DrzavaID int
AS

SET NOCOUNT ON

UPDATE [dbo].[Posta] SET
	[Stevilka] = @Stevilka,
	[DrzavaID] = @DrzavaID
WHERE
	[PostaID] = @PostaID

--endregion

' 
END
GO
