/****** Object:  StoredProcedure [dbo].[usp_UpdateUporabnik]    Script Date: 03/11/2012 21:58:18 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_UpdateUporabnik]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[usp_UpdateUporabnik]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_UpdateUporabnik]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
--region [dbo].[usp_UpdateUporabnik]

------------------------------------------------------------------------------------------------------------------------
-- Generated By:   lipanje using CodeSmith 4.0.0.0
-- Template:       StoredProcedures.cst
-- Procedure Name: [dbo].[usp_UpdateUporabnik]
-- Date Generated: 16. januar 2008
------------------------------------------------------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[usp_UpdateUporabnik]
	@ID int,
	@UporabnikID int,
	@VlogaID int,
	@UporabniskoIme varchar(50),
	@Geslo varchar(50),
	@Ime varchar(50),
	@Priimek nchar(50),
	@Email varchar(50),
	@Certifikat varchar(250),
	@OsebaID int,
	@Avtor int,
	@DatumVnosa datetime,
	@Aktivno int
AS

SET NOCOUNT ON

UPDATE [dbo].[Uporabnik] SET
	[UporabnikID] = @UporabnikID,
	[VlogaID] = @VlogaID,
	[UporabniskoIme] = @UporabniskoIme,
	[Geslo] = @Geslo,
	[Ime] = @Ime,
	[Priimek] = @Priimek,
	[Email] = @Email,
	[Certifikat] = @Certifikat,
	[OsebaID] = @OsebaID,
	[Avtor] = @Avtor,
	[DatumVnosa] = @DatumVnosa,
	[Aktivno] = @Aktivno
WHERE
	[ID] = @ID

--endregion

' 
END
GO
