/****** Object:  StoredProcedure [dbo].[usp_SelectIzjema]    Script Date: 03/11/2012 21:58:16 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_SelectIzjema]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[usp_SelectIzjema]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_SelectIzjema]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
--region [dbo].[usp_SelectIzjeme]

------------------------------------------------------------------------------------------------------------------------
-- Generated By:   lipanje using CodeSmith 4.0.0.0
-- Template:       StoredProcedures.cst
-- Procedure Name: [dbo].[usp_SelectIzjeme]
-- Date Generated: 16. januar 2008
------------------------------------------------------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[usp_SelectIzjema]
	@ID int
AS

SET NOCOUNT ON
SET TRANSACTION ISOLATION LEVEL READ COMMITTED

SELECT
	i.[ID],
	i.[Interval],
	i.[Cplus],
	i.[Cminus],
	i.[UdelezenecTrga],
	i.[SistemskiOperater],
	i.[Avtor],
	o1.Naziv as UdelezenecTrgaNaziv,
	o2.Naziv as SistemskiOperaterNaziv
	
FROM [Izjeme] i INNER JOIN Oseba o1 ON i.[UdelezenecTrga]=o1.OsebaID INNER JOIN Oseba o2 ON i.[SistemskiOperater]=o2.OsebaID
WHERE i.ID = @ID
AND o1.ID = (SELECT max(ID) from Oseba WHERE i.[UdelezenecTrga]=Oseba.OsebaID)
AND o2.ID = (SELECT max(ID) from Oseba WHERE i.[SistemskiOperater]=Oseba.OsebaID)

--endregion

' 
END
GO
