/****** Object:  StoredProcedure [dbo].[usp_SelectOseba]    Script Date: 03/11/2012 21:58:17 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_SelectOseba]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[usp_SelectOseba]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_SelectOseba]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
--region [dbo].[usp_SelectOseba]

------------------------------------------------------------------------------------------------------------------------
-- Generated By:   lipanje using CodeSmith 4.0.0.0
-- Template:       StoredProcedures.cst
-- Procedure Name: [dbo].[usp_SelectOseba]
-- Date Generated: 16. januar 2008
------------------------------------------------------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[usp_SelectOseba]
	@ID int
	
AS

SET NOCOUNT ON
SET TRANSACTION ISOLATION LEVEL READ COMMITTED

SELECT
	o.[ID],
	o.[OsebaID],
	o.[EIC],
	o.[VeljaOd],
	o.[VeljaDo],
	o.[Naziv],
	o.[Kratica],
	o.[Ime],
	o.[Priimek],
	o.[Naslov],
	o.[HisnaStevilka],
	o.[Kraj],
	o.[Posta],
	o.[Drzava],
	o.[OdgovornaOseba1],
	o.[OdgovornaOseba2],
	o.[Telefon],
	o.[Fax],
	o.[SpletnaStran],
	o.[Email],
	d.[Naziv] AS DrzavaNaziv,
	o.[DatumVnosa],
	o.VrstniRedExcelUvoz
FROM
	[dbo].[Oseba] o INNER JOIN [dbo].[Drzava] d ON o.Drzava = d.DrzavaID
WHERE
	[ID] = @ID 

--endregion

' 
END
GO
