/****** Object:  StoredProcedure [dbo].[usp_InsertOseba_Licence]    Script Date: 03/11/2012 21:58:16 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_InsertOseba_Licence]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[usp_InsertOseba_Licence]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_InsertOseba_Licence]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
--region [dbo].[usp_InsertOseba_Licence]

------------------------------------------------------------------------------------------------------------------------
-- Generated By:   lipanje using CodeSmith 4.0.0.0
-- Template:       StoredProcedures.cst
-- Procedure Name: [dbo].[usp_InsertOseba_Licence]
-- Date Generated: 16. januar 2008
------------------------------------------------------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[usp_InsertOseba_Licence]
	@OsebaID int,
	@LicencaID int,
	@VeljaOd datetime,
	@VeljaDo datetime,
	@Avtor int,
	@ID int OUTPUT
AS

SET NOCOUNT ON

INSERT INTO [dbo].[Oseba_Licence] (
	[OsebaID],
	[LicencaID],
	[VeljaOd],
	[VeljaDo],
	[Avtor]
) VALUES (
	@OsebaID,
	@LicencaID,
	@VeljaOd,
	@VeljaDo,
	@Avtor
)

SET @ID = SCOPE_IDENTITY()

--endregion

' 
END
GO
