/****** Object:  StoredProcedure [dbo].[usp_SelectTrzniPlansAll]    Script Date: 03/11/2012 21:58:17 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_SelectTrzniPlansAll]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[usp_SelectTrzniPlansAll]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_SelectTrzniPlansAll]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'


--region [dbo].[usp_SelectTrzniPlansAll]

------------------------------------------------------------------------------------------------------------------------
-- Generated By:   lipanje using CodeSmith 4.0.0.0
-- Template:       StoredProcedures.cst
-- Procedure Name: [dbo].[usp_SelectTrzniPlansAll]
-- Date Generated: 16. januar 2008
------------------------------------------------------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[usp_SelectTrzniPlansAll]
AS

SET NOCOUNT ON
SET TRANSACTION ISOLATION LEVEL READ COMMITTED

SELECT
	[ID],
	[OsebaID],
	[Interval],
	cast([Kolicina]/1000 as decimal(10,3)),
	[DatumVnosa]
FROM
	[dbo].[TrzniPlan]

--endregion



' 
END
GO
