/****** Object:  StoredProcedure [dbo].[usp_InsertPPM]    Script Date: 03/11/2012 21:58:16 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_InsertPPM]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[usp_InsertPPM]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_InsertPPM]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
--region [dbo].[usp_InsertPPM]

------------------------------------------------------------------------------------------------------------------------
-- Generated By:   lipanje using CodeSmith 4.0.0.0
-- Template:       StoredProcedures.cst
-- Procedure Name: [dbo].[usp_InsertPPM]
-- Date Generated: 16. januar 2008
------------------------------------------------------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[usp_InsertPPM]
	@Naziv varchar(50),
--	@PPMID int,
	@STOD varchar(50),
	@SMM varchar(50),
	@PlacnikID nchar(10),
	@DatumVnosa datetime,
	@SistemskiOperater1 int,
	@SistemskiOperater2 int,
	@Dobavitelj1 int,
	@Dobavitelj2 int,
	@PPMTipID int,
	@MerilnaNapravaID int,
	@ID int OUTPUT
AS

SET NOCOUNT ON

INSERT INTO [dbo].[PPM] (
	[Naziv],
	--[PPMID],
	[STOD],
	[SMM],
	[PlacnikID],
	[DatumVnosa],
	[SistemskiOperater1],
	[SistemskiOperater2],
	[Dobavitelj1],
	[Dobavitelj2],
	[PPMTipID],
	[MerilnaNapravaID]
) VALUES (
	@Naziv,
	--@PPMID,
	@STOD,
	@SMM,
	@PlacnikID,
	@DatumVnosa,
	@SistemskiOperater1,
	@SistemskiOperater2,
	@Dobavitelj1,
	@Dobavitelj2,
	@PPMTipID,
	@MerilnaNapravaID
)

--SET @ID = SCOPE_IDENTITY()

--endregion



' 
END
GO
