/****** Object:  StoredProcedure [dbo].[usp_SelectPraviceByVlogaID]    Script Date: 03/11/2012 21:58:17 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_SelectPraviceByVlogaID]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[usp_SelectPraviceByVlogaID]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_SelectPraviceByVlogaID]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
--region [dbo].[usp_SelectPravice_VlogasAll]

------------------------------------------------------------------------------------------------------------------------
-- Generated By:   lipanje using CodeSmith 4.0.0.0
-- Template:       StoredProcedures.cst
-- Procedure Name: [dbo].[usp_SelectPravice_VlogasAll]
-- Date Generated: 16. januar 2008
------------------------------------------------------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[usp_SelectPraviceByVlogaID]
	@VlogaID int
AS

SET NOCOUNT ON
SET TRANSACTION ISOLATION LEVEL READ COMMITTED

SELECT
	[PraviceID],
	[Modul] + '' - '' + [Akcija] AS Modul_Akcija
FROM
	[dbo].[Pravice]
WHERE  

EXISTS (SELECT * 
		FROM Pravice_Vloga 
		WHERE Pravice.PraviceID = Pravice_Vloga.PraviceID 
		AND Pravice_Vloga.VlogaID = @VlogaID)

--endregion

' 
END
GO
