/****** Object:  StoredProcedure [dbo].[usp_SelectOseba_Licence]    Script Date: 03/11/2012 21:58:17 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_SelectOseba_Licence]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[usp_SelectOseba_Licence]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_SelectOseba_Licence]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'

--region [dbo].[usp_SelectOseba_Licence]

------------------------------------------------------------------------------------------------------------------------
-- Generated By:   lipanje using CodeSmith 4.0.0.0
-- Template:       StoredProcedures.cst
-- Procedure Name: [dbo].[usp_SelectOseba_Licence]
-- Date Generated: 16. januar 2008
------------------------------------------------------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[usp_SelectOseba_Licence]
AS

SET NOCOUNT ON
SET TRANSACTION ISOLATION LEVEL READ COMMITTED

SELECT
	u.[ID],
	u.[OsebaID],
	u.[LicencaID],
	u.[VeljaOd],
	u.[VeljaDo],
	u.[DatumVnosa],
	u.[Avtor],
	l.Naziv AS LicencaNaziv,
	o.Naziv AS OsebaNaziv

FROM [Oseba_Licence] u INNER JOIN Licenca l ON u.LicencaID=l.LicencaID INNER JOIN Oseba o ON u.OsebaID=o.OsebaID
WHERE u.ID = (SELECT max(ID) from [Oseba_Licence] u1 WHERE u1.LicencaID = u.LicencaID AND u1.OsebaID = u.OsebaID)
AND o.ID = (SELECT max(ID) from Oseba WHERE u.OsebaID=Oseba.OsebaID)
and u.DatumSpremembe is null
and  o.DatumSpremembe is null


--endregion


' 
END
GO
