/****** Object:  StoredProcedure [dbo].[usp_SelectPraviceUporabnika]    Script Date: 03/11/2012 21:58:17 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_SelectPraviceUporabnika]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[usp_SelectPraviceUporabnika]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_SelectPraviceUporabnika]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
--region [dbo].[usp_SelectPravice]

------------------------------------------------------------------------------------------------------------------------
-- Generated By:   lipanje using CodeSmith 4.0.0.0
-- Template:       StoredProcedures.cst
-- Procedure Name: [dbo].[usp_SelectPravice]
-- Date Generated: 16. januar 2008
------------------------------------------------------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[usp_SelectPraviceUporabnika]
	@UporabnikID int
AS

SET NOCOUNT ON
SET TRANSACTION ISOLATION LEVEL READ COMMITTED

SELECT     Pravice.Modul, Pravice.Akcija
FROM         Pravice INNER JOIN
                      Pravice_Vloga ON Pravice.PraviceID = Pravice_Vloga.PraviceID INNER JOIN
                      Vloga ON Pravice_Vloga.VlogaID = Vloga.VlogaID INNER JOIN
                      Uporabnik ON Pravice_Vloga.VlogaID = Uporabnik.VlogaID
WHERE     (Uporabnik.UporabnikID = @UporabnikID)

--endregion

' 
END
GO
