/****** Object:  StoredProcedure [dbo].[usp_InsertPosta]    Script Date: 03/11/2012 21:58:16 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_InsertPosta]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[usp_InsertPosta]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_InsertPosta]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
--region [dbo].[usp_InsertPosta]

------------------------------------------------------------------------------------------------------------------------
-- Generated By:   lipanje using CodeSmith 4.0.0.0
-- Template:       StoredProcedures.cst
-- Procedure Name: [dbo].[usp_InsertPosta]
-- Date Generated: 16. januar 2008
------------------------------------------------------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[usp_InsertPosta]
	@Stevilka varchar(50),
	@DrzavaID int,
	@PostaID int OUTPUT
AS

SET NOCOUNT ON

INSERT INTO [dbo].[Posta] (
	[Stevilka],
	[DrzavaID]
) VALUES (
	@Stevilka,
	@DrzavaID
)

SET @PostaID = SCOPE_IDENTITY()

--endregion

' 
END
GO
