/****** Object:  StoredProcedure [dbo].[usp_GetPoracunskoObdobjeInterval]    Script Date: 03/11/2012 21:58:16 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_GetPoracunskoObdobjeInterval]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[usp_GetPoracunskoObdobjeInterval]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_GetPoracunskoObdobjeInterval]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'

------------------------------------------------------------------------------------------------------------------------
-- Generated By:   lipanje using CodeSmith 4.0.0.0
-- Template:       StoredProcedures.cst
-- Procedure Name: [dbo].[usp_InsertObracunskoObdobje]
-- Date Generated: 16. januar 2008
-- Date Modified:  29. april 2008 by BM
------------------------------------------------------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[usp_GetPoracunskoObdobjeInterval]
	@ObracunskoObdobjeIDZacetek int,
	@ObracunskoObdobjeIDKonec int,
	@stanje datetime,
	@Od datetime OUTPUT,
	@Do datetime OUTPUT
AS

SET NOCOUNT ON

Select @Od=VeljaOd 
from ObracunskoObdobje
where 
	ObracunskoObdobjeID=@ObracunskoObdobjeIDZacetek
	and ObracunskoObdobjeTipID=1
	and DatumVnosa <= @stanje and ISNULL(DatumSpremembe,DATEADD(yy, 50, GETDATE())) >= @stanje

Select @Do=VeljaDo 
from ObracunskoObdobje
where 
	ObracunskoObdobjeID=@ObracunskoObdobjeIDKonec
	and ObracunskoObdobjeTipID=1
	and DatumVnosa <= @stanje and ISNULL(DatumSpremembe,DATEADD(yy, 50, GETDATE())) >= @stanje

return 0' 
END
GO
