/****** Object:  StoredProcedure [dbo].[usp_SelectPogodbasPaged]    Script Date: 03/11/2012 21:58:17 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_SelectPogodbasPaged]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[usp_SelectPogodbasPaged]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_SelectPogodbasPaged]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
--region [dbo].[usp_SelectPogodbasPaged]

------------------------------------------------------------------------------------------------------------------------
-- Generated By:   lipanje using CodeSmith 4.0.0.0
-- Template:       StoredProcedures.cst
-- Procedure Name: [dbo].[usp_SelectPogodbasPaged]
-- Date Generated: 16. januar 2008
------------------------------------------------------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[usp_SelectPogodbasPaged]
AS

SET NOCOUNT ON
SET TRANSACTION ISOLATION LEVEL READ COMMITTED

SELECT
	[ID],
	[PogodbaID],
	[TipPogodbeID],
	[Partner1],
	[Partner2],
	[VeljaOd],
	[VeljaDo],
	[IzvrsilniDan],
	[Opis],
	[Opombe],
	[Avtor],
	[DatumVnosa],
	[Aktivno]
FROM
	[dbo].[Pogodba]

--endregion

' 
END
GO
