/****** Object:  StoredProcedure [dbo].[usp_SelectIzpadi]    Script Date: 03/11/2012 21:58:16 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_SelectIzpadi]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[usp_SelectIzpadi]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_SelectIzpadi]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
--region [dbo].[usp_SelectNajvecjeIzgubesAll]

------------------------------------------------------------------------------------------------------------------------
-- Generated By:   lipanje using CodeSmith 4.0.0.0
-- Template:       StoredProcedures.cst
-- Procedure Name: [dbo].[usp_SelectNajvecjeIzgubesAll]
-- Date Generated: 16. januar 2008
------------------------------------------------------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[usp_SelectIzpadi]
AS

SET NOCOUNT ON
SET TRANSACTION ISOLATION LEVEL READ COMMITTED

SELECT
	i.[ID],
	i.[PPMID],
	i.[NazivnaMoc],
	i.[VeljaOd],
	i.[VeljaDo],
	i.[Avtor],
	i.[DatumVnosa],
	p.Naziv AS PPMNaziv

FROM [Izpadi] i INNER JOIN PPM p ON i.PPMID=p.PPMID
WHERE i.ID = (SELECT max(ID) from [Izpadi] i1 WHERE i1.PPMID = i.PPMID)
AND p.ID = (SELECT max(ID) from PPM WHERE i.PPMID=PPM.PPMID)

--endregion

' 
END
GO
