/****** Object:  StoredProcedure [dbo].[usp_UpdateVloga]    Script Date: 03/11/2012 21:58:18 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_UpdateVloga]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[usp_UpdateVloga]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_UpdateVloga]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
--region [dbo].[usp_UpdateVloga]

------------------------------------------------------------------------------------------------------------------------
-- Generated By:   lipanje using CodeSmith 4.0.0.0
-- Template:       StoredProcedures.cst
-- Procedure Name: [dbo].[usp_UpdateVloga]
-- Date Generated: 16. januar 2008
------------------------------------------------------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[usp_UpdateVloga]
	@VlogaID int,
	@Naziv varchar(50),
	@NadVloga int = null,
	@AdminVloga int = null
AS

SET NOCOUNT ON

UPDATE [dbo].[Vloga] SET
	[Naziv] = @Naziv
WHERE
	[VlogaID] = @VlogaID

--endregion

' 
END
GO
