/****** Object:  StoredProcedure [dbo].[usp_UpdatePogodba]    Script Date: 03/11/2012 21:58:18 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_UpdatePogodba]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[usp_UpdatePogodba]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_UpdatePogodba]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
--region [dbo].[usp_UpdatePogodba]

------------------------------------------------------------------------------------------------------------------------
-- Generated By:   lipanje using CodeSmith 4.0.0.0
-- Template:       StoredProcedures.cst
-- Procedure Name: [dbo].[usp_UpdatePogodba]
-- Date Generated: 16. januar 2008
------------------------------------------------------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[usp_UpdatePogodba]
	@ID int,
	@PogodbaID int,
	@TipPgdID int,
	@PartnerID1 int,
	@PartnerID2 int,
	@VeljaOd datetime,
	@VeljaDo datetime,
	@Opis varchar(500),
	@Opombe varchar(500),
	@Avtor int
AS

SET NOCOUNT ON

if (@PartnerID2 < @PartnerID1)
begin
SET @ID = 0
return 1
end

-- najprej preverim prekrivanja
	DECLARE @InObdobje INT
-- OD
select @InObdobje=count(PogodbaID) from Pogodba where VeljaOd <= @VeljaOd and VeljaDo >= @VeljaOd and TipPogodbeID = @TipPgdID and Aktivno=1 and Partner1 = @PartnerID1 and Partner2=@PartnerID2;

if @InObdobje > 0
begin
	SET @ID = 0
	RETURN (2);
end
-- DO
select @InObdobje=count(PogodbaID) from Pogodba where VeljaOd <= @VeljaDo and VeljaDo >= @VeljaDo and TipPogodbeID = @TipPgdID and Aktivno=1 and Partner1 = @PartnerID1 and Partner2=@PartnerID2;

if @InObdobje > 0
begin
	SET @ID = 0
	RETURN (3);
end

UPDATE [dbo].[Pogodba] SET 
	Aktivno = 0
where 
	[id] = @ID

DECLARE @Nivo int
DECLARE @NadrejenaOseba int

select top 1 @Nivo=Nivo, @NadrejenaOseba=NadrejenaOsebaID from Pogodba where [ID]=@ID

INSERT INTO [dbo].[Pogodba] (
	[PogodbaID],
	[TipPogodbeID],
	[Partner1],
	[Partner2],
	[VeljaOd],
	[VeljaDo],
	[Opis],
	[Opombe],
	[Avtor],
	[DatumVnosa],
	[Aktivno],
	[Nivo],
	[NadrejenaOsebaID]
) VALUES (
	@PogodbaID,
	@TipPgdID,
	@PartnerID1,
	@PartnerID2,
	@VeljaOd,
	@VeljaDo,
	@Opis,
	@Opombe,
	@Avtor,
	GETDATE(),
	1,
	@Nivo,
	@NadrejenaOseba
)


--endregion

' 
END
GO
