/****** Object:  StoredProcedure [dbo].[usp_UpdateObracunStatu]    Script Date: 03/11/2012 21:58:18 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_UpdateObracunStatu]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[usp_UpdateObracunStatu]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_UpdateObracunStatu]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
--region [dbo].[usp_UpdateObracunStatu]

------------------------------------------------------------------------------------------------------------------------
-- Generated By:   lipanje using CodeSmith 4.0.0.0
-- Template:       StoredProcedures.cst
-- Procedure Name: [dbo].[usp_UpdateObracunStatu]
-- Date Generated: 16. januar 2008
------------------------------------------------------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[usp_UpdateObracunStatu]
	@ObracunStatusID int,
	@Naziv varchar(50)
AS

SET NOCOUNT ON

UPDATE [dbo].[ObracunStatus] SET
	[Naziv] = @Naziv
WHERE
	[ObracunStatusID] = @ObracunStatusID

--endregion

' 
END
GO
