/****** Object:  StoredProcedure [dbo].[usp_InsertRealizacijaPoSo]    Script Date: 03/11/2012 21:58:16 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_InsertRealizacijaPoSo]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[usp_InsertRealizacijaPoSo]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_InsertRealizacijaPoSo]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
--region [dbo].[usp_InsertRealizacijaPoSo]

------------------------------------------------------------------------------------------------------------------------
-- Generated By:   lipanje using CodeSmith 4.0.0.0
-- Template:       StoredProcedures.cst
-- Procedure Name: [dbo].[usp_InsertRealizacijaPoSo]
-- Date Generated: 16. januar 2008
------------------------------------------------------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[usp_InsertRealizacijaPoSo]
	@ObracunID int,
	@BilancnaSkupina int,
	@SistemskiOperater int,
	@Realizacija decimal(18, 0),
	@ID int OUTPUT
AS

SET NOCOUNT ON

INSERT INTO [dbo].[RealizacijaPoSo] (
	[ObracunID],
	[BilancnaSkupina],
	[SistemskiOperater],
	[Realizacija]
) VALUES (
	@ObracunID,
	@BilancnaSkupina,
	@SistemskiOperater,
	@Realizacija
)

SET @ID = SCOPE_IDENTITY()

--endregion

' 
END
GO
