/****** Object:  StoredProcedure [dbo].[usp_SelectNajvecjeIzgubesAll]    Script Date: 03/11/2012 21:58:17 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_SelectNajvecjeIzgubesAll]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[usp_SelectNajvecjeIzgubesAll]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_SelectNajvecjeIzgubesAll]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'

--region [dbo].[usp_SelectNajvecjeIzgubesAll]

------------------------------------------------------------------------------------------------------------------------
-- Generated By:   lipanje using CodeSmith 4.0.0.0
-- Template:       StoredProcedures.cst
-- Procedure Name: [dbo].[usp_SelectNajvecjeIzgubesAll]
-- Date Generated: 16. januar 2008
------------------------------------------------------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[usp_SelectNajvecjeIzgubesAll]
AS

SET NOCOUNT ON
SET TRANSACTION ISOLATION LEVEL READ COMMITTED

SELECT
	n.[ID],
	n.[OsebaID],
	n.[VeljaOd],
	n.[VeljaDo],
	n.[Faktor],
	n.[Avtor],
	n.[DatumVnosa],
	o.Naziv

FROM [NajvecjeIzgube] n INNER JOIN Oseba o ON n.OsebaID=o.OsebaID
WHERE n.ID = (SELECT max(ID) from [NajvecjeIzgube] n1 WHERE n1.OsebaID = n.OsebaID)
AND o.ID = (SELECT max(ID) from Oseba WHERE n.OsebaID=Oseba.OsebaID)

--endregion


' 
END
GO
