/****** Object:  StoredProcedure [dbo].[usp_InsertPreostaliOdjem]    Script Date: 03/11/2012 21:58:16 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_InsertPreostaliOdjem]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[usp_InsertPreostaliOdjem]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_InsertPreostaliOdjem]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
--region [dbo].[usp_InsertPreostaliOdjem]

------------------------------------------------------------------------------------------------------------------------
-- Generated By:   lipanje using CodeSmith 4.0.0.0
-- Template:       StoredProcedures.cst
-- Procedure Name: [dbo].[usp_InsertPreostaliOdjem]
-- Date Generated: 16. januar 2008
------------------------------------------------------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[usp_InsertPreostaliOdjem]
	@Interval datetime,
	@Kolicina decimal(18, 0),
	@UdelezenecTrga int,
	@SistemskiOperater int,
	@DatumVnosa datetime,
	@ID int OUTPUT
AS

SET NOCOUNT ON

INSERT INTO [dbo].[PreostaliOdjem] (
	[Interval],
	[Kolicina],
	[UdelezenecTrga],
	[SistemskiOperater],
	[DatumVnosa]
) VALUES (
	@Interval,
	@Kolicina,
	@UdelezenecTrga,
	@SistemskiOperater,
	@DatumVnosa
)

SET @ID = SCOPE_IDENTITY()

--endregion

' 
END
GO
