/****** Object:  StoredProcedure [dbo].[usp_InsertObracun]    Script Date: 03/11/2012 21:58:16 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_InsertObracun]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[usp_InsertObracun]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_InsertObracun]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
--region [dbo].[usp_InsertObracun]

------------------------------------------------------------------------------------------------------------------------
-- Generated By:   lipanje using CodeSmith 4.0.0.0
-- Template:       StoredProcedures.cst
-- Procedure Name: [dbo].[usp_InsertObracun]
-- Date Generated: 16. januar 2008
------------------------------------------------------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[usp_InsertObracun]
	@ObracunID int,
	@ObdobjeOd datetime,
	@ObdobjeDo datetime,
	@ObracunStatusID int,
	@DatumVnosa datetime,
	@ID int OUTPUT
AS

SET NOCOUNT ON

INSERT INTO [dbo].[Obracun] (
	[ObracunID],
	[ObdobjeOd],
	[ObdobjeDo],
	[ObracunStatusID],
	[DatumVnosa]
) VALUES (
	@ObracunID,
	@ObdobjeOd,
	@ObdobjeDo,
	@ObracunStatusID,
	@DatumVnosa
)

SET @ID = SCOPE_IDENTITY()

--endregion

' 
END
GO
