/****** Object:  StoredProcedure [dbo].[usp_UpdateLastnikPPM]    Script Date: 03/11/2012 21:58:18 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_UpdateLastnikPPM]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[usp_UpdateLastnikPPM]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_UpdateLastnikPPM]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
--region [dbo].[usp_UpdateLastnikPPM]

------------------------------------------------------------------------------------------------------------------------
-- Generated By:   lipanje using CodeSmith 4.0.0.0
-- Template:       StoredProcedures.cst
-- Procedure Name: [dbo].[usp_UpdateLastnikPPM]
-- Date Generated: 16. januar 2008
------------------------------------------------------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[usp_UpdateLastnikPPM]
	@ID int,
	@LastnikID int,
	@OsebaTipID int,
	@Naziv varchar(50),
	@Ime varchar(50),
	@Priimek varchar(50),
	@Naslov varchar(50),
	@Stevilka varchar(50),
	@PostaID int,
	@Avtor datetime,
	@VeljaOd datetime,
	@VeljaDo datetime,
	@DatumVnosa datetime,
	@Aktivno int
AS

SET NOCOUNT ON

UPDATE [dbo].[LastnikPPM] SET
	[LastnikID] = @LastnikID,
	[OsebaTipID] = @OsebaTipID,
	[Naziv] = @Naziv,
	[Ime] = @Ime,
	[Priimek] = @Priimek,
	[Naslov] = @Naslov,
	[Stevilka] = @Stevilka,
	[PostaID] = @PostaID,
	[Avtor] = @Avtor,
	[VeljaOd] = @VeljaOd,
	[VeljaDo] = @VeljaDo,
	[DatumVnosa] = @DatumVnosa,
	[Aktivno] = @Aktivno
WHERE
	[ID] = @ID

--endregion

' 
END
GO
