/****** Object:  StoredProcedure [dbo].[usp_UpdateObracun]    Script Date: 03/11/2012 21:58:18 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_UpdateObracun]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[usp_UpdateObracun]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_UpdateObracun]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
--region [dbo].[usp_UpdateObracun]

------------------------------------------------------------------------------------------------------------------------
-- Generated By:   lipanje using CodeSmith 4.0.0.0
-- Template:       StoredProcedures.cst
-- Procedure Name: [dbo].[usp_UpdateObracun]
-- Date Generated: 16. januar 2008
------------------------------------------------------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[usp_UpdateObracun]
	@ID int,
	@ObracunID int,
	@ObdobjeOd datetime,
	@ObdobjeDo datetime,
	@ObracunStatusID int,
	@DatumVnosa datetime
AS

SET NOCOUNT ON

UPDATE [dbo].[Obracun] SET
	[ObracunID] = @ObracunID,
	[ObdobjeOd] = @ObdobjeOd,
	[ObdobjeDo] = @ObdobjeDo,
	[ObracunStatusID] = @ObracunStatusID,
	[DatumVnosa] = @DatumVnosa
WHERE
	[ID] = @ID

--endregion

' 
END
GO
