/****** Object:  StoredProcedure [dbo].[usp_UpdateIzpadiSprememba]    Script Date: 03/11/2012 21:58:18 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_UpdateIzpadiSprememba]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[usp_UpdateIzpadiSprememba]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_UpdateIzpadiSprememba]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
--region [dbo].[usp_UpdateUporabnik]

------------------------------------------------------------------------------------------------------------------------
-- Generated By:   lipanje using CodeSmith 4.0.0.0
-- Template:       StoredProcedures.cst
-- Procedure Name: [dbo].[usp_UpdateUporabnik]
-- Date Generated: 16. januar 2008
------------------------------------------------------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[usp_UpdateIzpadiSprememba]
	@ID int
AS

SET NOCOUNT ON

UPDATE Izpadi 
SET datumspremembe = getdate() 
WHERE ID = @ID

--endregion

' 
END
GO
