/****** Object:  StoredProcedure [dbo].[usp_SelectUporabniki]    Script Date: 03/11/2012 21:58:17 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_SelectUporabniki]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[usp_SelectUporabniki]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_SelectUporabniki]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'

--region [dbo].[usp_SelectUporabniksAll]

------------------------------------------------------------------------------------------------------------------------
-- Generated By:   lipanje using CodeSmith 4.0.0.0
-- Template:       StoredProcedures.cst
-- Procedure Name: [dbo].[usp_SelectUporabniksAll]
-- Date Generated: 16. januar 2008
------------------------------------------------------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[usp_SelectUporabniki]
 @stanje DateTime
AS

SET NOCOUNT ON
SET TRANSACTION ISOLATION LEVEL READ COMMITTED

SELECT 
u.ID, 
u.UporabnikID, 
u.VlogaID, 
u.UporabniskoIme, 
u.Geslo, 
u.Ime, 
u.Priimek, 
u.Email, 
u.Certifikat, 
u.VeljaOd, 
u.VeljaDo, 
u.OsebaID, 
u.Avtor, 
u.Aktivno, 
o.Naziv,
o.OsebaID 
FROM Uporabnik u INNER JOIN Oseba o ON u.OsebaID=o.OsebaID
WHERE u.ID = (SELECT max(ID) from Uporabnik u1 WHERE u1.UporabnikID = u.UporabnikID  AND
				u1.DatumVnosa <= @stanje and dbo.infinite(u1.DatumSpremembe) >= @stanje)
AND o.ID = (SELECT max(ID) from Oseba WHERE u.OsebaID=Oseba.OsebaID AND
				Oseba.DatumVnosa <= @stanje and dbo.infinite(Oseba.DatumSpremembe) >= @stanje)

--endregion


' 
END
GO
