/****** Object:  StoredProcedure [dbo].[usp_InsertObracunskoObdobjePrazen]    Script Date: 03/11/2012 21:58:16 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_InsertObracunskoObdobjePrazen]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[usp_InsertObracunskoObdobjePrazen]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_InsertObracunskoObdobjePrazen]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'

--region [dbo].[usp_InsertObracunskoObdobje]

------------------------------------------------------------------------------------------------------------------------
-- Generated By:   lipanje using CodeSmith 4.0.0.0
-- Template:       StoredProcedures.cst
-- Procedure Name: [dbo].[usp_InsertObracunskoObdobje]
-- Date Generated: 16. januar 2008
-- Date Modified:  29. april 2008 by BM
------------------------------------------------------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[usp_InsertObracunskoObdobjePrazen]
	
	@maxdate datetime OUTPUT
AS

SET NOCOUNT ON
DECLARE @Indikator INT

select @Indikator=count(ObracunskoObdobjeID) from ObracunskoObdobje where Datumspremembe IS null AND ObracunskoObdobjeTipID=1


--DECLARE @maxdate INT
SELECT @maxdate=max(VeljaDo) FROM ObracunskoObdobje WHERE DatumSpremembe is NULL

--RETURN (@maxdate);

	RETURN (@indikator);

/*if @InObdobje > 0
begin
	SET @ObracunskoObdobjeID = 0
	RETURN (1);
end



-- DO
select @InObdobje=count(ObracunskoObdobjeID) from ObracunskoObdobje where VeljaOd <= @Do and VeljaDo >= @Do and ObracunskoObdobjeTipID=@ObracunskoObdobjeTipID
if @InObdobje > 0
begin
	SET @ObracunskoObdobjeID = 0
	RETURN (2);
end



--Pogoj je tudi da je datum Do vecji od datuma od
if (select DATEDIFF(DAY,@Od,@Do)) >= 0
begin

-- prevedem nov ID
DECLARE @NewObdobjeID INT
SELECT @NewObdobjeID=ISNULL(MAX(ObracunskoObdobjeID),0)+1 FROM [ObracunskoObdobje]
SET @ObracunskoObdobjeID=@NewObdobjeID
-- dodam novo
INSERT INTO [dbo].[ObracunskoObdobje] (
	[ObracunskoObdobjeID],
	[Naziv],
	[VeljaOd],
	[VeljaDo],
	[ObracunskoObdobjeTipID]
) VALUES (
	@NewObdobjeID,
	@Naziv,
	@Od,
	@Do,
	@ObracunskoObdobjeTipID
)
SET @ObracunskoObdobjeID = SCOPE_IDENTITY()
RETURN (0);

end
else
begin
	SET @ObracunskoObdobjeID = 0
	RETURN (3);
end
*/

--endregion
' 
END
GO
