/****** Object:  StoredProcedure [dbo].[usp_SelectVloga]    Script Date: 03/11/2012 21:58:17 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_SelectVloga]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[usp_SelectVloga]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_SelectVloga]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'

--region [dbo].[usp_SelectVloga]

------------------------------------------------------------------------------------------------------------------------
-- Generated By:   lipanje using CodeSmith 4.0.0.0
-- Template:       StoredProcedures.cst
-- Procedure Name: [dbo].[usp_SelectVloga]
-- Date Generated: 16. januar 2008
------------------------------------------------------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[usp_SelectVloga]
	@VlogaID int
AS

SET NOCOUNT ON
SET TRANSACTION ISOLATION LEVEL READ COMMITTED

SELECT 
v.VlogaID,
v.Naziv,
vp.VlogaID AS AdminVloga,
vp.Naziv as NadVlogaNazivAdmin,
(SELECT 
vp.Naziv
	FROM
	[dbo].[Vloga] v, VlogaPrednik p, [dbo].[Vloga] vp
WHERE
	v.VlogaID = p.VlogaID AND
	v.VlogaID = @VlogaID and
	vp.Nivo+1 = v.Nivo AND
	p.PrednikID = vp.VlogaID 
	AND v.DatumSpremembe IS NULL AND vp.DatumSpremembe IS NULL AND p.DatumSpremembe IS NULL
	AND vp.Admin = 0) AS NadVlogaNaziv,
isnull((SELECT 
vp.VlogaID

	FROM
	[dbo].[Vloga] v, VlogaPrednik p, [dbo].[Vloga] vp
WHERE
	v.VlogaID = p.VlogaID AND
	v.VlogaID = @VlogaID and
	vp.Nivo+1 = v.Nivo AND
	p.PrednikID = vp.VlogaID 
	AND v.DatumSpremembe IS NULL AND vp.DatumSpremembe IS NULL AND p.DatumSpremembe IS NULL
	AND vp.Admin = 0),0) AS NadVloga


	FROM
	[dbo].[Vloga] v, VlogaPrednik p, [dbo].[Vloga] vp
WHERE
	v.VlogaID = p.VlogaID AND
	v.VlogaID = @VlogaID and
	--vp.Nivo+1 = v.Nivo AND
	(case when v.Nivo = -1 then vp.Nivo  else vp.Nivo+1  end) = v.Nivo AND
	p.PrednikID = vp.VlogaID 
	AND v.DatumSpremembe IS NULL AND vp.DatumSpremembe IS NULL AND p.DatumSpremembe IS NULL
	AND vp.Admin = 1
	
--endregion


' 
END
GO
