/****** Object:  StoredProcedure [dbo].[usp_SelectPogodba]    Script Date: 03/11/2012 21:58:17 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_SelectPogodba]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[usp_SelectPogodba]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_SelectPogodba]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'

--region [dbo].[usp_SelectPogodbasAll]

------------------------------------------------------------------------------------------------------------------------
-- Generated By:   lipanje using CodeSmith 4.0.0.0
-- Template:       StoredProcedures.cst
-- Procedure Name: [dbo].[usp_SelectPogodbasAll]
-- Date Generated: 16. januar 2008
------------------------------------------------------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[usp_SelectPogodba]
	@ID int
AS

SET NOCOUNT ON
SET TRANSACTION ISOLATION LEVEL READ COMMITTED

SELECT

	p.[ID],
	p.[PogodbaID],
	p.[PogodbaTipID],
	p.[Partner1],
	p.[Partner2],
	p.[VeljaOd],
	p.[VeljaDo],
	p.[IzvrsilniDan],
	p.[Opis],
	p.[Opombe],
	p.[Avtor],
	p.[Aktivno],
	p.[DatumVnosa],
	tp.[Naziv] AS TipPogodbeNaziv,
	o1.[Naziv] AS Partner1Naziv,
	o2.[Naziv] AS Partner2Naziv	
FROM
	[Pogodba] p INNER JOIN [PogodbaTip] tp ON p.[PogodbaTipID]=tp.[PogodbaTipID]
	INNER JOIN Oseba o1 ON p.Partner1=o1.OsebaID INNER JOIN Oseba o2 ON p.Partner2=o2.OsebaID
where 
o1.ID = (SELECT max(ID) from Oseba WHERE p.Partner1=Oseba.OsebaID)
AND o2.ID = (SELECT max(ID) from Oseba WHERE p.Partner2=Oseba.OsebaID)
AND p.ID = @ID 

--endregion


' 
END
GO
