/****** Object:  StoredProcedure [dbo].[usp_UpdateOseba]    Script Date: 03/11/2012 21:58:18 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_UpdateOseba]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[usp_UpdateOseba]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_UpdateOseba]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
--region [dbo].[usp_UpdateOseba]

------------------------------------------------------------------------------------------------------------------------
-- Generated By:   lipanje using CodeSmith 4.0.0.0
-- Template:       StoredProcedures.cst
-- Procedure Name: [dbo].[usp_UpdateOseba]
-- Date Generated: 16. januar 2008
------------------------------------------------------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[usp_UpdateOseba]
	@ID int,
	@OsebaID int,
	@Naziv varchar(250),
	@Ime varchar(50),
	@Priimek varchar(50),
	@Naslov varchar(50),
	@Stevilka varchar(50),
	@VeljaOd datetime,	
	@VeljaDo datetime,
	@Email int,
	@EIC varchar(50),
	@OdgovornaOseba1 varchar(100),
	@OdgovornaOseba2 varchar(100),
	@Telefon varchar(50)
	
AS

SET NOCOUNT ON

UPDATE [dbo].[Oseba] SET
	OsebaID = @OsebaID,
	[Naziv] = @Naziv,
	Ime = @Ime,
	Priimek = @Priimek,
	[Naslov] = @Naslov,
	VeljaOd = @VeljaOd,
	VeljaDo = @VeljaDo,
	Email = @Email,
	EIC = @EIC,
	OdgovornaOseba1= @OdgovornaOseba1,
	OdgovornaOseba2 = @OdgovornaOseba2,
	Telefon = @Telefon
WHERE
	[ID] = @ID

--endregion

' 
END
GO
