/****** Object:  StoredProcedure [dbo].[usp_InsertDrzava]    Script Date: 03/11/2012 21:58:16 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_InsertDrzava]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[usp_InsertDrzava]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_InsertDrzava]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
--region [dbo].[usp_InsertDrzava]

------------------------------------------------------------------------------------------------------------------------
-- Generated By:   lipanje using CodeSmith 4.0.0.0
-- Template:       StoredProcedures.cst
-- Procedure Name: [dbo].[usp_InsertDrzava]
-- Date Generated: 16. januar 2008
------------------------------------------------------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[usp_InsertDrzava]
	@DrzavaID int,
	@Naziv varchar(50),
	@Okrajsava varchar(50)
AS

SET NOCOUNT ON

INSERT INTO [dbo].[Drzava] (
	[DrzavaID],
	[Naziv],
	[Okrajsava]
) VALUES (
	@DrzavaID,
	@Naziv,
	@Okrajsava
)

--endregion

' 
END
GO
