/****** Object:  StoredProcedure [dbo].[usp_UpdatePodatkiObracuna]    Script Date: 03/11/2012 21:58:18 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_UpdatePodatkiObracuna]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[usp_UpdatePodatkiObracuna]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_UpdatePodatkiObracuna]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
--region [dbo].[usp_UpdatePodatkiObracuna]

------------------------------------------------------------------------------------------------------------------------
-- Generated By:   lipanje using CodeSmith 4.0.0.0
-- Template:       StoredProcedures.cst
-- Procedure Name: [dbo].[usp_UpdatePodatkiObracuna]
-- Date Generated: 16. januar 2008
------------------------------------------------------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[usp_UpdatePodatkiObracuna]
	@ID int,
	@ObracunID int,
	@BilancnaSkupina int,
	@Interval datetime,
	@TolerancniPas decimal(18, 0),
	@Odstopanje datetime,
	@Cplus decimal(18, 0),
	@Cminus decimal(18, 0),
	@Cp decimal(18, 0),
	@Cn decimal(18, 0),
	@PoravnavaZnotrajT decimal(18, 0),
	@PoravnavaZunajT decimal(18, 0)
AS

SET NOCOUNT ON

UPDATE [dbo].[PodatkiObracuna] SET
	[ObracunID] = @ObracunID,
	[BilancnaSkupina] = @BilancnaSkupina,
	[Interval] = @Interval,
	[TolerancniPas] = @TolerancniPas,
	[Odstopanje] = @Odstopanje,
	[Cplus] = @Cplus,
	[Cminus] = @Cminus,
	[Cp] = @Cp,
	[Cn] = @Cn,
	[PoravnavaZnotrajT] = @PoravnavaZnotrajT,
	[PoravnavaZunajT] = @PoravnavaZunajT
WHERE
	[ID] = @ID

--endregion

' 
END
GO
