/****** Object:  StoredProcedure [dbo].[usp_DeleteOsebaTip]    Script Date: 03/11/2012 21:58:16 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_DeleteOsebaTip]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[usp_DeleteOsebaTip]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_DeleteOsebaTip]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
--region [dbo].[usp_InsertPravice_Vloga]

------------------------------------------------------------------------------------------------------------------------
-- Generated By:   lipanje using CodeSmith 4.0.0.0
-- Template:       StoredProcedures.cst
-- Procedure Name: [dbo].[usp_InsertPravice_Vloga]
-- Date Generated: 16. januar 2008
------------------------------------------------------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[usp_DeleteOsebaTip]
	@OsebaID int,	
	@OsebaTipID int
AS

SET NOCOUNT ON

--IF EXISTS (SELECT * FROM OsebaTip WHERE OsebaID=@OsebaID AND OsebaTipID=@OsebaTipID AND DatumSpremembe is NULL)

UPDATE OsebaTip
SET DatumSpremembe = getdate()
WHERE OsebaID=@OsebaID AND OsebaTipID=@OsebaTipID AND DatumSpremembe is NULL 





--endregion

' 
END
GO
