/****** Object:  StoredProcedure [dbo].[usp_InsertIzjeme]    Script Date: 03/11/2012 21:58:16 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_InsertIzjeme]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[usp_InsertIzjeme]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_InsertIzjeme]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
--region [dbo].[usp_InsertIzjeme]

------------------------------------------------------------------------------------------------------------------------
-- Generated By:   lipanje using CodeSmith 4.0.0.0
-- Template:       StoredProcedures.cst
-- Procedure Name: [dbo].[usp_InsertIzjeme]
-- Date Generated: 16. januar 2008
------------------------------------------------------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[usp_InsertIzjeme]
	@Interval datetime,
	@Cplus decimal(18, 0),
	@Cminus decimal(18, 0),
	@UdelezenecTrga int,
	@SistemskiOperater int,
	@Avtor int,
	@ID int OUTPUT
AS

SET NOCOUNT ON

INSERT INTO [dbo].[Izjeme] (
	[Interval],
	[Cplus],
	[Cminus],
	[UdelezenecTrga],
	[SistemskiOperater],
	[Avtor]
) VALUES (
	@Interval,
	@Cplus,
	@Cminus,
	@UdelezenecTrga,
	@SistemskiOperater,
	@Avtor
)

SET @ID = SCOPE_IDENTITY()

--endregion

' 
END
GO
