/****** Object:  StoredProcedure [dbo].[usp_UpdateTipPogodbe]    Script Date: 03/11/2012 21:58:18 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_UpdateTipPogodbe]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[usp_UpdateTipPogodbe]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_UpdateTipPogodbe]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
--region [dbo].[usp_UpdateTipPogodbe]

------------------------------------------------------------------------------------------------------------------------
-- Generated By:   lipanje using CodeSmith 4.0.0.0
-- Template:       StoredProcedures.cst
-- Procedure Name: [dbo].[usp_UpdateTipPogodbe]
-- Date Generated: 16. januar 2008
------------------------------------------------------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[usp_UpdateTipPogodbe]
	@TipPogodbeID int,
	@Naziv varchar(250)
AS

SET NOCOUNT ON

UPDATE [dbo].[TipPogodbe] SET
	[Naziv] = @Naziv
WHERE
	[TipPogodbeID] = @TipPogodbeID

--endregion

' 
END
GO
