/****** Object:  StoredProcedure [dbo].[usp_SelectTrzniPlan]    Script Date: 03/11/2012 21:58:17 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_SelectTrzniPlan]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[usp_SelectTrzniPlan]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_SelectTrzniPlan]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'


--region [dbo].[usp_SelectTrzniPlan]

------------------------------------------------------------------------------------------------------------------------
-- Generated By:   lipanje using CodeSmith 4.0.0.0
-- Template:       StoredProcedures.cst
-- Procedure Name: [dbo].[usp_SelectTrzniPlan]
-- Date Generated: 16. januar 2008
------------------------------------------------------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[usp_SelectTrzniPlan]
@stanje datetime
AS

SET NOCOUNT ON
SET TRANSACTION ISOLATION LEVEL READ COMMITTED

SELECT     
t.ID, 
t.Interval, 
cast([t].[Kolicina]/1000 as decimal(10,3)) as Kolicina,
t.DatumVnosa, 
o.Naziv, 
o.OsebaID
FROM TrzniPlan t INNER JOIN
                      Oseba o ON t.OsebaID = o.OsebaID
WHERE o.DatumVnosa <= @stanje and ISNULL(o.DatumSpremembe,DATEADD(yy, 50, GETDATE())) >= @stanje;

--endregion



' 
END
GO
